<div class="intro">
    <h1>Welcome in intro <span style="color:rgb(255, 145, 0)">Tetris</span> game page</h1>
    <h2><span style="color:rgb(255, 0, 106)"><u>Sign in</u></span> and play  :)</h2>
    <h3>Type the <span style="color:rgb(0, 204, 255)">correct data</span> and push the button</h3>
    <br>
    <form class="form" #loginForm="ngForm" (submit)="sendingIntroFormData(loginForm.form)">
<!-- Part for name validation -->
        <div>
            <br>
            <label> Please enter your name here :
                <input type="text" 
                    name="name" 
                    ngModel
                    #playerName="ngModel"
                    required
                    minlength="3"
                    maxlength="30"
                    placeholder="Enter your name"
                    [disabled]="loginForm.submitted" 
                />
            </label>
        </div>
        <br>
        <div style="color:red"
            *ngIf=" !playerName.valid && playerName.touched && playerName.value.length < 3 && playerName.value.length < 31" >
                Name is required and must be between 3-30 characters
        </div>
        <br>
<!-- Part for e-mail validation -->
        <div>
            <label> Please enter your e-mail here :
                <input type="text" name="mail" #mailInput
                    ngModel
                    #playerMail="ngModel"
                    required
                    pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                    placeholder="Enter your e-mail"
                    [disabled]="loginForm.submitted" 
                />
            </label>
        </div>
        <br>
        <div style="color:red"
            *ngIf=" !playerMail.valid && playerMail.touched && playerMail.value === '' ||
                    !playerMail.valid && playerMail.touched && playerMail.value != '' && !loginForm.submitted" >
                Enter correct e-mail.
        </div>
        <br>
        <button class="intro" type="submit" [disabled]="!loginForm.valid">Sign in</button>
        <br>
        <br>
    </form>
</div>